<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="actions.xml" />
	<import resource="cdripper.xml" />
	<import resource="columnsets.xml" />
	<import resource="context.xml" />
	<import resource="core.xml" />
	<import resource="device.xml" />
	<import resource="dialogs.xml" />
	<import resource="genres.xml" />
	<import resource="gui.xml" />
	<import resource="gui.dimensions.xml" />
	<import resource="gui.icons.xml" />
	<import resource="gui.player.xml" />
	<import resource="handlers.xml" />
	<import resource="lookandfeel.xml" />
	<import resource="navigator.xml" />
	<import resource="os.xml" />
	<import resource="patterns.xml" />
	<import resource="player.xml" />
	<import resource="playlist.xml" />
	<import resource="process.xml" />
	<import resource="repository.xml" />
	<import resource="state.xml" />
	<import resource="tasks.xml" />
	<import resource="treecelldecorators.xml" />
	<import resource="treegenerators.xml" />
	<import resource="utils.xml" />
	<import resource="webservices.xml"/>

</beans>
